body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
div {
  display: flex;
}

div > p {
  font-size: 10rem;
  flex: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}

div > table {
  border: 1px solid black;
  padding-top: 10px;
  flex: 0.3;
}

tbody {
  background-color: white;
  color: black;
}

h1 {
  text-align: center;
}

span {
  display: block;
}
