body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
div {
  display: flex;
}

div > p {
  font-size: 9rem;
  flex: 0.7;
  position: absolute;
  left: 50%;
}

div > table {
  border: 1px solid black;
  padding-top: 10px;
  flex: 0.3;
}

tbody {
  background-color: white;
  color: black;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

.hide {
  display: none;
}

button {
  font-size: 2rem;
}
